astroid==2.4.2
autopep8==1.5.5
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
coverage==5.3.1
future==0.18.2
green==3.2.5
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mando==0.6.4
mccabe==0.6.1
pycodestyle==2.6.0
pyTelegramBotAPI==3.7.6
python-decouple==3.4
radon==4.3.2
requests==2.25.1
rope==0.18.0
six==1.15.0
toml==0.10.2
Unidecode==1.1.2
urllib3==1.26.3
wrapt==1.12.1
